@model MemberRec.Models.FeeData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FeeData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Particular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Particular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeeDataId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
