


@{
    ViewBag.Title = "Modal";
    Layout = null;
}



<div class="modal fade" id="PostModal" tabindex="-1" role="dialog" aria-labelledby="PostModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    @Html.Action("Create", "Posts")

  </div>
</div>

<div class="modal fade" id="ComitteeModal" tabindex="-1" role="dialog" aria-labelledby="ComitteeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        @Html.Action("Create", "comittees")

    </div>
</div>

<div class="modal fade" id="BusinessTypeModal" tabindex="-1" role="dialog" aria-labelledby="BusinessTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        @Html.Action("Create", "BusinessTypes")

    </div>
</div>

<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @Html.Action("create","FeeDetails")
    </div>
</div>

<div class="modal fade" id="SubBranchModal" tabindex="-1" role="dialog" aria-labelledby="SubBranchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @Html.Action("create", "SubBranches")
    </div>
</div>