@model MemberRec.Models.BusinessType

@{
    ViewBag.Title = "Create";
    Layout = null;
}

@using (Html.BeginForm("Create","BusinessTypes"))
{
    @Html.AntiForgeryToken()
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">BusinessTypes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-horizontal">
                
                @Html.ValidationSummary(true, "", new { @class = "text-white" })
                  <div class="form-group">
                    
                        @Html.LabelFor(model => model.BusinessTypeName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.BusinessTypeName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BusinessTypeName, "", new { @class = "text-white" })
                        </div>
                  
                  </div>
            </div>

        </div>
        <div class="modal-footer">
            <input type="submit" value="Create" class="btn btn-outline-dark" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
